footer.footer
    .footer__desc
        | Всегда лучшие условия отдыха для семей с детьми
    .footer__nav
        mixin menu(link, name)
            li.menu__item
                a(href=link class='menu__link')= name
        ul.menu
            +menu('works', 'База отдыха')
            +menu('about', 'Информация')
            +menu('blog', 'Новости')
            +menu('/', 'Авторизация')
        include socials
    .footer__quote
        | Посетив нашу базу, вы соприкоснетесь с суровой красотой севера и заповедными уголками месной природы
        .footer__quote-name
            | --Гарантируются свободные места
section.footer-copy  &copy; ООО "Серена Тундра" база отдыха | Керелия 2017