.my-contacts
    .subtitle.my-contacts__title
        | Контакты
    mixin contacts(url, text)
        li(class='my-contacts__item')
            svg.my-contacts__icon
                use(xlink:href='assets/img/sprite.svg#components--contacts--' + url)
            span.my-contacts__name= text
    ul.my-contacts__list
        +contacts('skype', 'serena-karelia')
        +contacts('envelope2', 'mail@serena-karelia.ru')
        +contacts('phone2', '+7 81454 3-28-81')
        +contacts('map_marker', 'Кугановолок')

