.slide-blocks
    .slide-blocks__left
    .slide-blocks__right
    ul.popup-menu
        li.popup-menu_item
            a(href='works').popup-menu_link.title База отдыха
        li.popup-menu_item
            a(href='about').popup-menu_link.title Информация
        li.popup-menu_item
            a(href='blog').popup-menu_link.title Новости
        li.popup-menu_item
            a(href='index').popup-menu_link.title Главная