.user
    .user__photo
        img.user__photo-avatar(src='../../assets/img/log-cabin.svg' alt='user-photo')
    .user__name
        | База отдыха "Серена"
    .header__desc
        | НЕЗАБЫВАЕМЫЙ ОТДЫХ В КАРЕЛИИ